<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veterinary Appointment Canceled</title>
</head>
<body>

<h2>Veterinary Appointment Canceled</h2>

<p>
    Dear <strong th:text="${vetName}">Dr. Smith</strong>,
</p>

<p>
    The following veterinary appointment has been canceled.
</p>

<p>
    <strong>Pet:</strong>
    <span th:text="${petName}">Jessy</span>
</p>

<p>
    <strong>Pet type:</strong>
    <span th:text="${petType}">Dog</span>
</p>

<p>
    <strong>Pet breed:</strong>
    <span th:text="${petBreed}">Persian</span>
</p>

<p>
    <strong>Owner:</strong>
    <span th:text="${ownerName}">John Doe</span>
</p>

<p>
    <strong>Scheduled date:</strong>
    <span th:text="${visitDate}">2026-08-20 10:00</span>
</p>

<p>
    <strong>cancellation reason:</strong>
    <span th:text="${reason}"> </span>
</p>

<p>
    The appointment time is now available for another booking.
</p>

<p>
    Best regards,<br>
    PetClinic Farzan6118
</p>

</body>
</html>