<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visit Reminder</title>
</head>
<body>

<h2>Vet Visit Reminder</h2>

<p>
    Dear <strong th:text="${ownerName}">John Doe</strong>
    This is a reminder of the upcoming visit for
    <strong th:text="${petName}">Jessy</strong>.
</p>

<p>
    Vet:
    <strong th:text="${vetName}">Dr. Smith</strong>
</p>

<p>
    Visit date:
    <strong th:text="${appointmentDate}">2026-08-20 10:00</strong>
</p>

<p>
    Please arrive a few minutes early.<br><br>
    Best regards,<br>
    PetClinic Farzan6118
</p>

</body>
</html>